body {
    font-family: Arial, sans-serif;
    background-color:peru;
  }
  
  .gallery-container {
    max-width: 100%; /* Адаптируется к ширине экрана */
    overflow: hidden; /* Скрыть все, что выходит за границы */
  }

  .gallery-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .gallery img {
    width:220px;
    height: 220px;
    object-fit: cover;
  }
  
  .arrow {
    font-size: 24px;
    padding: 10px 20px;
  }
  
  .pager {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pager .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .pager .dot.active {
    background-color: #007bff;
  }
  
  /* Адаптивный дизайн для разных экранов */
  @media (min-width: 600px) {
    .gallery {
      width: 660px;
    }
  
    .gallery img {
        width:220px;
        height: 220px; /* Каждое изображение занимает треть ширины на экране компьютера */
    }
  }
  
  @media (max-width: 599px) {
    .gallery {
      width: 220px; /* Галерея занимает всю ширину экрана на мобильных устройствах */
    }
  
    .gallery img {
        width:220px;
        height: 220px;
    }
  }
  